* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #556B2F;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

body   {
    background: url(../img/novo-fundo.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #556B2F;
    margin-bottom: 45px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 5px;
}

header ul li a {
    transition: .3s;
}

header ul li a:hover {
    text-decoration: underline;
    color: #171d0c
}

.logo {
    border: 1px solid #556B2F;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 50px;
}

.container .name h5 {
    font-size: 25px;
}

#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: .3s;
}

.rotate {
    transform: rotate(180deg);
    transition: .3s;
}

.active {
    display: block !important;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: 1px solid #556B2F;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 20%;
    padding: 5px 10px;
    background-color: #556B2F;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-left: -5px;
    border: 1px solid #556B2F;
}

.form button:hover {
    background-color: #171d0c;
    text-decoration: underline;
    
}

/*Responsividade*/

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }
    
    .form {
        width: 100%;
    }
}
    
}